header {
    border-bottom: 2px solid gray;
}

header:after {
    content: "";
    clear: both;
    display: table;
}

header img.logo {
    max-width: 180px;
    float: left;
}

header img.avatar {
    margin-top: 15px;
    max-width: 50px;
    border: 2px solid gray;
    float: right;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}